/****** Object:  Table [dbo].[TOOL_PROCESSLOG]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL_PROCESSLOG](
	[PRIMARYKEY] [bigint] NULL,
	[PROCESS] [nvarchar](255) NULL,
	[TASK] [nvarchar](40) NULL,
	[OTHER_COMMENTS] [nvarchar](4000) NULL,
	[TIMESTAMP] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TOOL_PROCESSLOG] ADD  DEFAULT (NEXT VALUE FOR [dbo].[SEQ_PRIMARYKEY]) FOR [PRIMARYKEY]
GO
ALTER TABLE [dbo].[TOOL_PROCESSLOG] ADD  DEFAULT (NULL) FOR [PROCESS]
GO
ALTER TABLE [dbo].[TOOL_PROCESSLOG] ADD  DEFAULT (NULL) FOR [TASK]
GO
ALTER TABLE [dbo].[TOOL_PROCESSLOG] ADD  DEFAULT (NULL) FOR [OTHER_COMMENTS]
GO
ALTER TABLE [dbo].[TOOL_PROCESSLOG] ADD  DEFAULT (getdate()) FOR [TIMESTAMP]
GO
