/****** Object:  Table [dbo].[copy_Table]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[copy_Table](
	[TABLE_NAME] [nchar](40) NULL
) ON [PRIMARY]
GO
