/****** Object:  Table [dbo].[REFRESH_CONFIG]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFRESH_CONFIG](
	[TABLE_NAME] [varchar](50) NOT NULL,
	[SOURCE_SCHEMA] [varchar](50) NOT NULL,
	[SOURCE_DB] [varchar](50) NOT NULL,
	[DEST_SCHEMA] [varchar](50) NOT NULL,
	[REFRESH_FREQ] [int] NOT NULL,
	[DAY_HOURS_MIN] [int] NOT NULL,
	[LAST_REFRESH_CHECK] [datetime] NOT NULL,
	[REFRESH_TYPE] [int] NOT NULL,
	[KEY_COLUMNS] [varchar](max) NOT NULL,
	[TIME_STAMP_COL] [varchar](50) NULL,
	[GROUP_OR_PRIORITY] [int] NULL,
	[LATEST_TIMESTAMP] [datetime] NULL,
	[ROW_COUNT] [bigint] NULL,
	[UPDATE_GROUP] [int] NULL,
	[LINK_COL] [varchar](50) NULL,
	[SWITCH_NAME] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
