/****** Object:  Table [dbo].[REFRESH_TYPES]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFRESH_TYPES](
	[ID] [smallint] NULL,
	[REFRESH_TYPE] [varchar](50) NULL
) ON [PRIMARY]
GO
