/****** Object:  Table [dbo].[REFRESH_FREQUENCY]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFRESH_FREQUENCY](
	[ID] [smallint] NOT NULL,
	[FREQUENCY] [varchar](50) NOT NULL,
	[MINUTES] [int] NOT NULL
) ON [PRIMARY]
GO
