/****** Object:  Table [dbo].[BW_STOREDATES]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_STOREDATES](
	[Date] [date] NOT NULL
) ON [PRIMARY]
GO
