/****** Object:  Table [endur].[stag_vw_loc_info]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[stag_vw_loc_info](
	[TYPE_ID] [int] NULL,
	[LOCATION_ID] [int] NULL,
	[LAST_UPDATE] [datetime] NULL,
	[INFO_VALUE] [varchar](256) NULL
) ON [PRIMARY]
GO
