/****** Object:  Table [endur].[stag_vw_vw_rep_ta]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[stag_vw_vw_rep_ta](
	[TA_ID] [varchar](5) NULL,
	[TA_NAME] [varchar](40) NULL
) ON [PRIMARY]
GO
