/****** Object:  Table [endur].[hist_vw_gas_phys_param]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[hist_vw_gas_phys_param](
	[INS_NUM] [int] NULL,
	[PARAM_SEQ_NUM] [int] NULL,
	[CHILD_GROUP_ID] [int] NULL,
	[SCHEDULE_PARTY] [int] NULL,
	[FUEL_CALC_METHOD] [int] NULL,
	[FUEL_PERCENT] [float] NULL,
	[OMIT_WAVG] [int] NULL,
	[LOCATION_ID] [int] NULL,
	[BUYBACK] [int] NULL,
	[MIN_QTY] [float] NULL,
	[MAX_QTY] [float] NULL,
	[VOLUME_TYPE] [int] NULL,
	[TLINK_GROUP_NUM] [int] NULL,
	[TLINK_ALLOC_TYPE] [int] NULL,
	[TLINK_PERCENT_ALLOC] [float] NULL,
	[TLINK_DEAL_NUM] [int] NULL,
	[RATE_SCHEDULE_ID] [int] NULL,
	[CRITERIA_ID] [int] NULL,
	[BAV_CUTOFF_DATE] [date] NULL,
	[TIME_ZONE] [int] NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[VOLUME_PRECISION] [int] NULL,
	[MEASURE_GROUP_ID] [int] NULL,
	[OFFSET_LOCATION_ID] [int] NULL,
	[DAY_START_TIME] [int] NULL,
	[INVENTORY_LOSS_PERCENT] [float] NULL,
	[INVENTORY_LOSS_CALC_TYPE] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[MODIFIED_PRODUCT] [int] NULL,
	[LOAD_SHAPE] [int] NULL,
	[DEAL_START_TIME] [int] NULL,
	[DEAL_END_TIME] [int] NULL,
	[IS_SCHEDULED] [int] NULL,
	[TRANSPORT_CLASS] [int] NULL,
	[PATH_LOCATION_ID] [int] NULL,
	[TLINK_DEST_DEAL_NUM] [int] NULL,
	[SHIPPER_CODE] [int] NULL,
	[IS_BALANCE] [int] NULL,
	[TANK_ID] [int] NULL,
	[TLINK_TRANSIT_TIME] [datetime] NULL,
	[USER_PATH_ID] [int] NULL,
	[COMMITMENT_ID] [int] NULL,
	[INT_TRADING_STRATEGY] [int] NULL,
	[EXT_TRADING_STRATEGY] [int] NULL,
	[FACILITY_ID] [int] NULL,
	[PRICING_VOLUME_TYPE] [int] NULL,
	[SETTLEMENT_CONV] [float] NULL,
	[SETTLEMENT_CONV_UNIT] [int] NULL,
	[LOC_SERVICE_TYPE] [int] NULL,
	[IS_ADJUSTMENT] [int] NULL,
	[INTENT_START_OFFSET] [varchar](256) NULL,
	[INTENT_END_OFFSET] [varchar](256) NULL,
	[LIFTINGS_PER_PERIOD] [int] NULL,
	[COMM_WINDOW_LENGTH] [int] NULL,
	[COMM_WINDOW_OFFSET] [int] NULL,
	[FACILITY_GROUP_ID] [int] NULL,
	[TEMPLATE_IDX_GROUP] [int] NULL,
	[TEMPLATE_IDX_SUBGROUP] [int] NULL,
	[TEMPLATE_PIPELINE_ID] [int] NULL,
	[TEMPLATE_ZONE_ID] [int] NULL,
	[TEMPLATE_PENDING_LOC_ID] [int] NULL,
	[TEMPLATE_GEO_LOC_ID] [int] NULL,
	[TITLE_XFER_EVENT] [int] NULL,
	[TITLE_XFER_OFFSET] [varchar](256) NULL,
	[FINANCIAL_SECURITY_TYPE] [int] NULL,
	[FINANCIAL_SECURITY_EVENT] [int] NULL,
	[FINANCIAL_SECURITY_OFFSET] [varchar](256) NULL,
	[DB_TIMESTAMP_H] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [INDEX_1]    Script Date: 13/11/2019 14:23:08 ******/
CREATE CLUSTERED INDEX [INDEX_1] ON [endur].[hist_vw_gas_phys_param]
(
	[INS_NUM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [endur].[hist_vw_gas_phys_param] ADD  CONSTRAINT [DF_hist_vw_gas_phys_param_DB_TIMESTAMP_H]  DEFAULT (getdate()) FOR [DB_TIMESTAMP_H]
GO
