/****** Object:  Table [endur].[stag_vw_trans_status]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[stag_vw_trans_status](
	[NAME] [varchar](32) NULL,
	[TRANS_STATUS_ID] [int] NULL,
	[NEW_FLAG] [int] NULL
) ON [PRIMARY]
GO
