/****** Object:  Table [endur].[sim_refresh_status]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[sim_refresh_status](
	[REFRESH_STATUS] [smallint] NULL
) ON [PRIMARY]
GO
