/****** Object:  Table [endur].[vw_pnl_realized_temp_T1]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[vw_pnl_realized_temp_T1](
	[PRIMARYKEY_NEW] [bigint] NULL,
	[IS_NEW] [smallint] NULL
) ON [PRIMARY]
GO
