/****** Object:  Table [endur].[hist_vw_user_st_sap_customer_group]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[hist_vw_user_st_sap_customer_group](
	[CUSTOMER_GROUP] [varchar](256) NULL,
	[CUSTOMER_GROUP_NAME] [varchar](256) NULL,
	[STATUS] [varchar](256) NULL,
	[TAX_REGIME] [varchar](256) NULL
) ON [PRIMARY]
GO
