/****** Object:  Table [endur].[vw_pnl_realized_Deleted_Deals]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[vw_pnl_realized_Deleted_Deals](
	[TRAN_NUM] [int] NULL
) ON [PRIMARY]
GO
