/****** Object:  Table [endur].[vw_toolsets]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[vw_toolsets](
	[NAME] [varchar](32) NULL,
	[ID_NUMBER] [int] NULL,
	[INS_CLASS] [int] NULL,
	[SUBSYSTEM_ID] [int] NULL
) ON [PRIMARY]
GO
