/****** Object:  Table [endur].[stag_vw_idx_fixing_src]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[stag_vw_idx_fixing_src](
	[PROJ_INDEX_ID] [int] NULL,
	[INDEX_SRC] [int] NULL,
	[FIXING_INDEX_ID] [int] NULL,
	[LAST_UPDATE] [date] NULL
) ON [PRIMARY]
GO
