/****** Object:  Table [endur].[hist_vw_vw_rep_ta]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[hist_vw_vw_rep_ta](
	[TA_ID] [varchar](5) NULL,
	[TA_NAME] [varchar](40) NULL,
	[DB_TIMESTAMP] [datetime] NULL,
	[DB_TIMESTAMP_H] [datetime] NULL
) ON [PRIMARY]
GO
