/****** Object:  Table [endur].[stag_vw_party_info]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[stag_vw_party_info](
	[PARTY_ID] [int] NULL,
	[TYPE_ID] [int] NULL,
	[VALUE] [varchar](512) NULL,
	[LAST_UPDATE] [datetime] NULL
) ON [PRIMARY]
GO
