/****** Object:  Table [endur].[vw_pnl_realized_Temp]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[vw_pnl_realized_Temp](
	[primarykey] [bigint] NOT NULL,
	[EXTRACTION_ID] [int] NOT NULL,
	[RUN_TYPE] [int] NULL,
	[RESULT_TYPE] [int] NOT NULL,
	[DEAL_NUM] [int] NOT NULL,
	[TRAN_NUM] [int] NOT NULL,
	[DEAL_LEG] [int] NOT NULL,
	[DEAL_LEG_1] [int] NOT NULL,
	[DEAL_PDC] [int] NOT NULL,
	[INS_SEQ_NUM] [int] NOT NULL,
	[PRICE_BAND] [int] NOT NULL,
	[PRICE_BAND_SEQ_NUM] [int] NOT NULL,
	[CFLOW_TYPE] [int] NOT NULL,
	[BROKER_FEE_TYPE] [int] NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[CURRENCY_ID] [int] NULL,
	[VOLUME] [float] NULL,
	[PRICE] [float] NULL,
	[STRIKE] [float] NULL,
	[PYMT] [float] NOT NULL,
	[TOTAL_VALUE] [float] NOT NULL,
	[REALIZED_VALUE] [float] NOT NULL,
	[UNREALIZED_VALUE] [float] NULL,
	[BASE_TOTAL_VALUE] [float] NULL,
	[BASE_REALIZED_VALUE] [float] NULL,
	[BASE_UNREALIZED_VALUE] [float] NULL,
	[DF] [float] NULL,
	[TRAN_STATUS] [int] NULL,
	[INS_NUM] [int] NULL,
	[INS_TYPE] [int] NULL,
	[TOOLSET] [int] NULL,
	[BUY_SELL] [int] NULL,
	[REFERENCE] [varchar](32) NULL,
	[INT_EXT] [int] NULL,
	[INTERNAL_LENTITY] [int] NULL,
	[EXTERNAL_LENTITY] [int] NULL,
	[INTERNAL_PORTFOLIO] [int] NULL,
	[FIN_DEL_REC] [int] NULL,
	[FIN_LOCATION_ID] [int] NULL,
	[PRICE_UNIT] [int] NULL,
	[ORG_FX] [float] NULL,
	[UNIT] [int] NULL,
	[SETTLEMENT_TYPE] [int] NULL,
	[NOTNL] [float] NULL,
	[FX_FLT] [int] NULL,
	[DB_TIMESTAMP] [datetime] NULL,
	[VALID_FROM] [date] NULL,
	[VALID_TO] [varchar](10) NOT NULL,
	[SYSTEM_DATE] [date] NULL
) ON [PRIMARY]
GO
