/****** Object:  Table [endur].[stag_cnt_vw_vw_dw_raw_cmi_results]    Script Date: 13/11/2019 14:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[stag_cnt_vw_vw_dw_raw_cmi_results](
	[EXTRACTION_ID] [int] NULL,
	[CNT] [int] NULL
) ON [PRIMARY]
GO
