/****** Object:  Table [endur].[vw_gas_phys_regions]    Script Date: 13/11/2019 14:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [endur].[vw_gas_phys_regions](
	[REGION_ID] [int] NULL,
	[REGION_NAME] [varchar](32) NULL,
	[REGION_LONG_NAME] [varchar](80) NULL
) ON [PRIMARY]
GO
