/****** Object:  View [dbo].[vwREFRESH_CONFIG]    Script Date: 12/11/2019 12:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwREFRESH_CONFIG]
AS
SELECT        UPPER(RC.TABLE_NAME) AS TABLE_NAME, RC.LAST_REFRESH_CHECK, RC.REFRESH_TYPE AS REFRESH_TYPE_ID, RC.REFRESH_FREQ * RF.MINUTES AS REFRESH_INTERVAL, RC.SOURCE_SCHEMA, DATEADD(MINUTE, 
                         RC.REFRESH_FREQ * RF.MINUTES, RC.LAST_REFRESH_CHECK) AS NEXT_REFRESH, RC.SOURCE_DB, RC.DEST_SCHEMA, RC.KEY_COLUMNS, RC.TIME_STAMP_COL, RC.GROUP_OR_PRIORITY, RF.FREQUENCY, 
                         dbo.REFRESH_TYPES.REFRESH_TYPE, RC.LATEST_TIMESTAMP, RC.ROW_COUNT, RC.UPDATE_GROUP, RC.LINK_COL
FROM            dbo.REFRESH_CONFIG AS RC INNER JOIN
                         dbo.REFRESH_FREQUENCY AS RF ON RC.DAY_HOURS_MIN = RF.ID INNER JOIN
                         dbo.REFRESH_TYPES ON RC.REFRESH_TYPE = dbo.REFRESH_TYPES.ID
GO
