/****** Object:  View [endur].[view_union_portfolio]    Script Date: 13/11/2019 14:24:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [endur].[view_union_portfolio] 

as
select ID_NUMBER,NAME,LONG_NAME,PORTFOLIO_TYPE,RESTRICTED,iif(LAST_UPDATE<'2019-09-01' and LAST_UPDATE>'2018-12-31', '2018-12-31',LAST_UPDATE) AS VALID_FROM,REQUIRES_STRATEGY , '9999-12-31' VALID_TO from endur.vw_portfolio
union
select  ID_NUMBER,NAME,LONG_NAME,PORTFOLIO_TYPE,RESTRICTED,iif(LAST_UPDATE<'2019-09-01' and LAST_UPDATE>'2018-12-31', '2018-12-31',LAST_UPDATE),REQUIRES_STRATEGY,VALID_TO from endur.hist_vw_portfolio
GO
