/****** Object:  View [endur].[view_union_deal_leg_attributes]    Script Date: 13/11/2019 14:24:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [endur].[view_union_deal_leg_attributes]

AS
select      c.[EXTRACTION_ID]
      ,c.[RESULT_TYPE]
      ,c.[TRAN_NUM]
      ,c.[DEAL_NUM]
      ,c.[INS_NUM]
      ,c.[PARAM_SEQ_NUM]
      ,c.[PROJ_INDEX]
      ,c.[INDEX_NAME]
      ,c.[MARKET_CURVE]
      ,c.[CONTRACT_CURVE]
      ,c.[PROJECTION_METHOD_ID]
      ,c.[VPOOL_ID]
      ,c.[PIPELINE_ID]
      ,c.[ZONE_ID]
      ,c.[FIN_DEL_REC]
      ,c.[FIN_LOCATION_ID]
      ,c.[LOCATION_ID]
      ,c.[TRANSPORT_CLASS]
      ,c.[PRICE_UNIT_CONV]
      ,c.[PRICING_MODEL_ID]
      ,c.[PRICE_UNIT]
      ,c.[ROLL_CONV]
      ,c.[PAYMENT_CONV]
      ,c.[PYMT_DATE_OFFSET]
      ,c.[PYMT_PERIOD]
      ,c.[YLD_BASIS]
      ,c.[RATE]
      ,c.[ORG_FX]
      ,c.[UNIT]
      ,c.[SETTLEMENT_TYPE]
      ,c.[DELIVERY_TYPE]
      ,c.[DAILY_CAPACITY]
      ,c.[NOTNL]
      ,c.[START_DATE]
      ,c.[MAT_DATE]
      ,c.[PAY_REC]
      ,c.[FX_FLT]
      ,c.[DB_TIMESTAMP],c.VALID_TO from(
SELECT        a.[EXTRACTION_ID]
      ,a.[RESULT_TYPE]
      ,a.[TRAN_NUM]
      ,a.[DEAL_NUM]
      ,a.[INS_NUM]
      ,a.[PARAM_SEQ_NUM]
      ,a.[PROJ_INDEX]
      ,a.[INDEX_NAME]
      ,a.[MARKET_CURVE]
      ,a.[CONTRACT_CURVE]
      ,a.[PROJECTION_METHOD_ID]
      ,a.[VPOOL_ID]
      ,a.[PIPELINE_ID]
      ,a.[ZONE_ID]
      ,a.[FIN_DEL_REC]
      ,a.[FIN_LOCATION_ID]
      ,a.[LOCATION_ID]
      ,a.[TRANSPORT_CLASS]
      ,a.[PRICE_UNIT_CONV]
      ,a.[PRICING_MODEL_ID]
      ,a.[PRICE_UNIT]
      ,a.[ROLL_CONV]
      ,a.[PAYMENT_CONV]
      ,a.[PYMT_DATE_OFFSET]
      ,a.[PYMT_PERIOD]
      ,a.[YLD_BASIS]
      ,a.[RATE]
      ,a.[ORG_FX]
      ,a.[UNIT]
      ,a.[SETTLEMENT_TYPE]
      ,a.[DELIVERY_TYPE]
      ,a.[DAILY_CAPACITY]
      ,a.[NOTNL]
      ,a.[START_DATE]
      ,a.[MAT_DATE]
      ,a.[PAY_REC]
      ,a.[FX_FLT]
      ,a.[DB_TIMESTAMP], '9999-12-31' AS VALID_TO
FROM             endur.vw_user_dw_deal_leg_attributes a-- inner join endur.view_union_extraction_log b on a.extraction_id=b.extraction_id and b.DB_STATUS<>2
UNION ALL
SELECT       a.[EXTRACTION_ID]
      ,a.[RESULT_TYPE]
      ,a.[TRAN_NUM]
      ,a.[DEAL_NUM]
      ,a.[INS_NUM]
      ,a.[PARAM_SEQ_NUM]
      ,a.[PROJ_INDEX]
      ,a.[INDEX_NAME]
      ,a.[MARKET_CURVE]
      ,a.[CONTRACT_CURVE]
      ,a.[PROJECTION_METHOD_ID]
      ,a.[VPOOL_ID]
      ,a.[PIPELINE_ID]
      ,a.[ZONE_ID]
      ,a.[FIN_DEL_REC]
      ,a.[FIN_LOCATION_ID]
      ,a.[LOCATION_ID]
      ,a.[TRANSPORT_CLASS]
      ,a.[PRICE_UNIT_CONV]
      ,a.[PRICING_MODEL_ID]
      ,a.[PRICE_UNIT]
      ,a.[ROLL_CONV]
      ,a.[PAYMENT_CONV]
      ,a.[PYMT_DATE_OFFSET]
      ,a.[PYMT_PERIOD]
      ,a.[YLD_BASIS]
      ,a.[RATE]
      ,a.[ORG_FX]
      ,a.[UNIT]
      ,a.[SETTLEMENT_TYPE]
      ,a.[DELIVERY_TYPE]
      ,a.[DAILY_CAPACITY]
      ,a.[NOTNL]
      ,a.[START_DATE]
      ,a.[MAT_DATE]
      ,a.[PAY_REC]
      ,a.[FX_FLT]
      ,a.[DB_TIMESTAMP]
	  ,a.[DB_TIMESTAMP]
	  
FROM             endur.hist_vw_user_dw_deal_leg_attributes a) c inner join endur.view_union_extraction_log b on c.extraction_id=b.extraction_id  and b.DB_STATUS<>2
GO
