/****** Object:  View [endur].[view_union_gas_phys_location]    Script Date: 12/11/2019 12:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [endur].[view_union_gas_phys_location] 

as
select  [LOCATION_ID]
      ,[LOCATION_NAME]
      ,[ZONE_ID]
      ,[LOCATION_TYPE]
      ,[INTERCONNECT_LOC_ID]
      ,[INDEX_ID]
      ,[RATE_ID]
      ,[ACTIVE]
      ,[PIPELINE_ID]
      ,[LAST_UPDATE]
      ,[DAILY_INDEX_ID]
      ,[METER_ID]
      ,[DRN_NUMBER]
      ,[LOC_LONG_NAME]
      ,[VPOOL_ID]
      ,[STATE_ID]
      ,[LOC_DIR_ID]
      ,[CONSTRAINED]
      ,[LOC_GROUP_DESC]
      ,[ACTIVE_START_DATE]
      ,[ACTIVE_END_DATE]
      ,[VERSION_NUM]
      ,[IDX_SUBGROUP]
      ,[GEO_LOC_ID]
      ,[DESC1]
      ,[DESC2]
      ,[DESC3]
      ,[DESC4]
      ,[DESC5]
      ,[DAYS_OFFSET]
      ,[TIME_ZONE_ID]
      ,[DENSITY_ADJUSTMENT]
      ,[MEASURE_GROUP_ID]
      ,[MILEPOST]
      ,[ALLOCATION_METHOD_ID]
      ,[PERCENT_DECLINE]
      ,[MIN_ENTRY_CAPACITY]
      ,[MIN_EXIT_CAPACITY]
      ,[VPOOL_ALT_ID]
      ,[INDEX_ALT_ID]
      ,[FACILITY_ID]
      ,[NETWORK_PATH_ID]
      ,[LOC_ADJ_UDP]
	,[LAST_UPDATE] VALID_FROM, '9999-12-31' VALID_TO from endur.vw_gas_phys_location
	union
select [LOCATION_ID]
      ,[LOCATION_NAME]
      ,[ZONE_ID]
      ,[LOCATION_TYPE]
      ,[INTERCONNECT_LOC_ID]
      ,[INDEX_ID]
      ,[RATE_ID]
      ,[ACTIVE]
      ,[PIPELINE_ID]
      ,[LAST_UPDATE]
      ,[DAILY_INDEX_ID]
      ,[METER_ID]
      ,[DRN_NUMBER]
      ,[LOC_LONG_NAME]
      ,[VPOOL_ID]
      ,[STATE_ID]
      ,[LOC_DIR_ID]
      ,[CONSTRAINED]
      ,[LOC_GROUP_DESC]
      ,[ACTIVE_START_DATE]
      ,[ACTIVE_END_DATE]
      ,[VERSION_NUM]
      ,[IDX_SUBGROUP]
      ,[GEO_LOC_ID]
      ,[DESC1]
      ,[DESC2]
      ,[DESC3]
      ,[DESC4]
      ,[DESC5]
      ,[DAYS_OFFSET]
      ,[TIME_ZONE_ID]
      ,[DENSITY_ADJUSTMENT]
      ,[MEASURE_GROUP_ID]
      ,[MILEPOST]
      ,[ALLOCATION_METHOD_ID]
      ,[PERCENT_DECLINE]
      ,[MIN_ENTRY_CAPACITY]
      ,[MIN_EXIT_CAPACITY]
      ,[VPOOL_ALT_ID]
      ,[INDEX_ALT_ID]
      ,[FACILITY_ID]
      ,[NETWORK_PATH_ID]
      ,[LOC_ADJ_UDP]
	  ,IIF([LAST_UPDATE]<'2019-08-23','2018-12-31',[LAST_UPDATE]) VALID_FROM
      ,[VALID_TO] from endur.hist_vw_gas_phys_location
GO
