/****** Object:  View [endur].[view_union_pnl_realized]    Script Date: 13/11/2019 14:24:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE view [endur].[view_union_pnl_realized] 

as

select [EXTRACTION_ID]
      ,[RUN_TYPE]
      ,[RESULT_TYPE]
      ,[DEAL_NUM]
      ,[TRAN_NUM]
      ,[DEAL_LEG]
      ,[DEAL_LEG_1]
      ,[DEAL_PDC]
      ,[INS_SEQ_NUM]
      ,[PRICE_BAND]
      ,[PRICE_BAND_SEQ_NUM]
      ,[CFLOW_TYPE]
      ,[BROKER_FEE_TYPE]
      ,[START_DATE]
      ,[END_DATE]
      ,[CURRENCY_ID]
      ,[VOLUME]
      ,[PRICE]
      ,[STRIKE]
      ,[PYMT]
      ,[TOTAL_VALUE]
      ,[REALIZED_VALUE]
      ,[UNREALIZED_VALUE]
      ,[BASE_TOTAL_VALUE]
      ,[BASE_REALIZED_VALUE]
      ,[BASE_UNREALIZED_VALUE]
      ,[DF]
      ,[TRAN_STATUS]
      ,[INS_NUM]
      ,[INS_TYPE]
      ,[TOOLSET]
      ,[BUY_SELL]
      ,[REFERENCE]
      ,[INT_EXT]
      ,[INTERNAL_LENTITY]
      ,[EXTERNAL_LENTITY]
      ,[INTERNAL_PORTFOLIO]
      ,[FIN_DEL_REC]
      ,[FIN_LOCATION_ID]
      ,[PRICE_UNIT]
      ,[ORG_FX]
      ,[UNIT]
      ,[SETTLEMENT_TYPE]
      ,[NOTNL]
      ,[FX_FLT]
      ,[DB_TIMESTAMP]
      ,[VALID_FROM]
      ,[VALID_TO] from endur.vw_pnl_realized
union
select [EXTRACTION_ID]
      ,[RUN_TYPE]
      ,[RESULT_TYPE]
      ,[DEAL_NUM]
      ,[TRAN_NUM]
      ,[DEAL_LEG]
      ,[DEAL_LEG_1]
      ,[DEAL_PDC]
      ,[INS_SEQ_NUM]
      ,[PRICE_BAND]
      ,[PRICE_BAND_SEQ_NUM]
      ,[CFLOW_TYPE]
      ,[BROKER_FEE_TYPE]
      ,[START_DATE]
      ,[END_DATE]
      ,[CURRENCY_ID]
      ,[VOLUME]
      ,[PRICE]
      ,[STRIKE]
      ,[PYMT]
      ,[TOTAL_VALUE]
      ,[REALIZED_VALUE]
      ,[UNREALIZED_VALUE]
      ,[BASE_TOTAL_VALUE]
      ,[BASE_REALIZED_VALUE]
      ,[BASE_UNREALIZED_VALUE]
      ,[DF]
      ,[TRAN_STATUS]
      ,[INS_NUM]
      ,[INS_TYPE]
      ,[TOOLSET]
      ,[BUY_SELL]
      ,[REFERENCE]
      ,[INT_EXT]
      ,[INTERNAL_LENTITY]
      ,[EXTERNAL_LENTITY]
      ,[INTERNAL_PORTFOLIO]
      ,[FIN_DEL_REC]
      ,[FIN_LOCATION_ID]
      ,[PRICE_UNIT]
      ,[ORG_FX]
      ,[UNIT]
      ,[SETTLEMENT_TYPE]
      ,[NOTNL]
      ,[FX_FLT]
      ,[DB_TIMESTAMP]
      ,[VALID_FROM]
      ,[VALID_TO] from endur.hist_vw_pnl_realized
GO
